name: Checks

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Validate VERSION file format
        run: ./scripts/validate-version.sh

      - name: Install Zsh and GNU Parallel
        run: sudo apt-get install -y zsh parallel

      - name: Run Bats Tests
        run: make test
